## Main folder
# *.zip
Latex

## Windows
# ignore .object files
# Windows/*.o
# Windows/tempCodeRunnerFile.*

## Linux
# ignore .object files
# Linux/*.o
# Linux/tempCodeRunnerFile.*
# Linux/.vscode

